@layer utilities {
.animate-float-block {
  animation: float-block 300s infinite linear;
  }

 .animate-float-lg {
  animation: float-lg 100s infinite linear;
 }

 .animate-float-md {
  animation: float-md 100s infinite linear;
 }

 .animate-float-sm {
  animation: float-sm 100s infinite linear;
 }

 .animate-float-sm-translucent {
  animation: float-sm-translucent 100s infinite linear;
 }

 .animate-bob-block {
  animation: bob-block 250s infinite ease-in-out;
 }

 .animate-bob-lg {
  animation: bob-lg 80s infinite ease-in-out;
 }

 .animate-bob-md {
  animation: bob-md 80s infinite ease-in-out;
 }

 .animate-bob-sm {
  animation: bob-sm 80s infinite ease-in-out;
 }

 .animate-bob-sm-translucent {
  animation: bob-sm-translucent 80s infinite ease-in-out;
 }

 .animate-float-bob-block {
  animation: float-bob-block 300s infinite linear, bob-block 300s infinite ease-in-out;
 }
 
 .animate-float-bob-lg {
  animation: float-bob-lg 100s infinite linear, bob-lg 80s infinite ease-in-out;
 }

 .animate-float-bob-md {
  animation: float-bob-md 100s infinite linear, bob-md 80s infinite ease-in-out;
 }

 .animate-float-bob-sm {
  animation: float-bob-sm 100s infinite linear, bob-sm 80s infinite ease-in-out;
 }

 .animate-float-bob-sm-translucent {
  animation: float-bob-sm-translucent 100s infinite linear,
   bob-sm-translucent 80s infinite ease-in-out;
 }

 .animate-float-bob-md-translucent {
  animation: float-bob-md-translucent 100s infinite linear,
   bob-md-translucent 80s infinite ease-in-out;
 }

 .animate-float-lg-translucent {
  animation: float-lg-translucent 100s infinite linear;
 }

 .animate-float-bob-lg-translucent {
  animation: float-bob-lg-translucent 100s infinite linear,
   bob-lg-translucent 80s infinite ease-in-out;
 }
}

/* block cloud keyframes */
@keyframes float-block {
  0% { left: -2600px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-block {
  0% {
    top: 20%;
  }
  100% {
    top: 22%;
  }
}
@keyframes float-bob-block {
  0% { left: -2600px; top: 20%; }
  100% { left: calc(100% + 200px); top: 22%; }
}

/* large cloud keyframes */
@keyframes float-lg {
  0% { left: -150px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-lg {
  0%,
  100% {
   top: 55%;
  }
  50% {
   top: 57%;
  }
 }
@keyframes float-bob-lg {
  0% { left: -150px; top: 55%; }
  100% { left: calc(100% + 200px); top: 57%; }
}

/* medium cloud keyframes */
@keyframes float-md {
  0% { left: -300px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-md {
  0%,
  100% {
   top: 45%;
  }
  50% {
   top: 47%;
  }
 }
 @keyframes float-bob-md {
  0% { left: -350px; top: 45%; }
  100% { left: calc(100% + 200px); top: 47%; }
}

/* small cloud keyframes */
@keyframes float-sm {
  0% { left: -600px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-sm {
  0%,
  100% {
   top: 62%;
  }
  50% {
   top: 64%;
  }
 }
 @keyframes float-bob-sm {
  0% { left: -600px; top: 62%; }
  100% { left: calc(100% + 200px); top: 64%; }
}

/* small translucent cloud keyframes */
@keyframes float-sm-translucent {
  0% { left: -300px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-sm-translucent {
  0%,
  100% {
   top: 38%;
  }
  50% {
   top: 39%;
  }
 }
 @keyframes float-bob-sm-translucent {
  0% { left: -300px; top: 38%; }
  100% { left: calc(100% + 200px); top: 39%; }
}


/* medium translucent cloud keyframes */
@keyframes float-md-translucent {
  0% { left: -120px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-md-translucent {
  0%,
  100% {
   top: 22%;
  }
  50% {
   top: 24%;
  }
 }
 @keyframes float-bob-md-translucent {
  0% { left: -1100px; top: 22%; }
  100% { left: calc(100% + 200px); top: 24%; }
}

/* large translucent cloud keyframes */
@keyframes float-lg-translucent {
  0% { left: -400px; }
  100% { left: calc(100% + 200px); }
}
@keyframes bob-lg-translucent {
  0%,
  100% {
   top: 30%;
  }
  50% {
   top: 31%;
  }
 }
@keyframes float-bob-lg-translucent {
  0% { left: -200px; top: 30%; }
  100% { left: calc(100% + 200px); top: 31%; }
}